<div *ngIf="verificaValidTouched()">
  <p class="field-error" *ngIf="isRequired()">
    O campo {{descricaoCampo}} é obrigatório!
  </p>

  <p class="field-error" *ngIf="hasMinLengthOrMaxLength()">
    O campo deve ter no mínimo 3 e no máximo 25 carácteres!
  </p>

  <p class="field-error" *ngIf="hasEmailValidation()">
    Informe um email válido!
  </p>

  <p class="field-error" *ngIf="cepIsInvalid()">
    Informe um cep válido!
  </p>

  <p class="field-error" *ngIf="checkboxIsInvalid()">
    Você deve concordar com os termos!
  </p>
</div>


